html {
  /* font: normal 16px sans-serif; */
  color: #fff;
}

@font-face {
  font-family: "Press Start 2p";
  src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Press Start 2p";
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.75%;
  background-color: rgb(226, 238, 183);
}

.logo {
  background-image: url(../img/red.png);
  z-index: 2;
}

.battle {
  font-size: 20px;
}

.bg {
  background-image: url(https://s2.best-wallpaper.net/wallpaper/iphone/1903/Battleship-guns_iphone_1125x2436.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
}

td {
  border: 1px solid rgba(2, 3, 10, 0.342);

  /* background-color: rgba(4, 44, 20, 0.233); */
}

.login {
  padding: 0.6rem;

  border: none;
  border-radius: 0.3rem;
  background-color: #0275d8;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(247, 239, 239);
  text-decoration: none;
}

.register {
  padding: 0.6rem;
  margin: 0.1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #5cb85c;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(247, 239, 239);
  text-decoration: none;
}

.createButton {
  display: flex;
  justify-content: center;
  padding: 2%;
}

#createGame {
  width: 10 rem;
  padding: 0.6rem;
  /* margin-top: 1rem; */
  border: none;
  border-radius: 0.3rem;
  background-color: #d8d528;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(247, 239, 239);
  text-decoration: none !important;
}

.backButton {
  width: 10 rem;
  padding: 0.6rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #cfbc0bbe;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(247, 239, 239);
  text-decoration: none !important;
}

.backButton a:focus {
  outline: none;
}

.joinButton {
  width: 10 rem;
  padding: 0.6rem;
  /* margin-top: 1rem; */
  border: none;
  border-radius: 0.3rem;
  background-color: #cf180bbe;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(247, 239, 239);
  text-decoration: none !important;
}

/*   LEADERBOARD   */

.leaderBoardCont {
  background: url(https://wallpaperset.com/w/full/2/5/5/137216.jpg);
  background-size: cover;
  background-position: center;
}