	/*	body {

			font-family: 'Nunito Semibold';
			text-align: center;

		}
          .table{
            display:flex;
            justify-content: space-around;
            }


		#playerTable,#opponentTable {
			display: grid;

			grid-template-columns: repeat(11, 1fr);
			 max-width: 960 px;
			margin: 0 auto;
		}

		#playerTable div,#opponentTable div {
			background: #3bbced;
			padding: 30px;

		}

		#playerTable div:nth-child(even),#opponentTable div:nth-child(even){
			background: #777;
			padding: 30px;
		}
		.header {
          display: flex;
          justify-content: space-around;
        }

        .header child {
          width: 20%;
        }

        .marked {
          background-color: rgb(0, 255, 34);
        }*/

	.table {
	  margin: 50px;
	  display: flex;
	  justify-content: space-around;
	}

	td {
	  height: 30px;
	  width: 30px;
	  border: 1px solid rgb(7, 5, 5);
	}

	.marked {
	  background-color: rgb(0, 255, 34);
	}

	.salvo {
	  background-color: red;
	}

	.bingoSalvo {
	  background-color: blue;
	}

	.header {
	  display: flex;
	  justify-content: space-around;
	}

	.header child {
	  width: 20%;
	}